.icon {
	margin-left: 4px;
	color: white;
	height: 35px;
	width: 35px;
	cursor: pointer;
	transform: rotate(0deg);
	user-select: none;
}

.update {
		transform: rotate(-360deg);
		transition: transform .51s linear;
}